<div class="flex flex-column gap-5">
  <div class="flex flex-column gap-4">
    <h3 class="font-semibold text-xl text-color">{{ title() }}</h3>
    <ng-content />
  </div>

  @if (!isMoreFiltersCollapsed()) {
    <div class="flex flex-column gap-4">
      <h3 class="font-semibold text-xl text-color">{{ moreFiltersTitle }}</h3>
      <ng-content select="[more-filters]" />
    </div>
  }

  <footer class="flex justify-content-between align-items-center">
    <section class="flex justify-content-start gap-3">
      <p-button
        styleClass="px-6"
        [disabled]="isDisable()"
        [loading]="isLoading()"
        (onClick)="search()"
        icon="pi pi-search"
        [label]="searchLabel"
        size="large"
      ></p-button>
      <p-button
        styleClass="px-6"
        [text]="true"
        (click)="reset()"
        icon="pi pi-eraser"
        [label]="resetLabel"
        size="large"
      ></p-button>
    </section>
    @if (!hideMoreFiltersButton()) {
      <p-button
        [icon]="iconMoreFilters()"
        [label]="labelMoreFilters()"
        [text]="true"
        [attr.aria-expanded]="!isMoreFiltersCollapsed()"
        (click)="onToggleMoreFiltersCollapsed()"
      />
    }
  </footer>
</div>
