.application-infrastructure-list {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.application-infrastructure-list__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}

.application-infrastructure-list__header h3 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
}

@media (max-width: 767px) {
  .application-infrastructure-list__header {
    align-items: stretch;
    flex-direction: column;
  }
}
