.bg-blue-50 {
  background-color: var(--blue-50) !important;
}

.bg-blue-75 {
  background-color: var(--blue-75) !important;
}

.bg-blue-100 {
  background-color: var(--blue-100) !important;
}

.bg-blue-150 {
  background-color: var(--blue-150) !important;
}

.bg-blue-200 {
  background-color: var(--blue-200) !important;
}

.bg-blue-250 {
  background-color: var(--blue-250) !important;
}

.bg-blue-300 {
  background-color: var(--blue-300) !important;
}

.bg-blue-350 {
  background-color: var(--blue-350) !important;
}

.bg-blue-400 {
  background-color: var(--blue-400) !important;
}

.bg-blue-450 {
  background-color: var(--blue-450) !important;
}

.bg-blue-500 {
  background-color: var(--blue-500) !important;
}

.bg-blue-550 {
  background-color: var(--blue-550) !important;
}

.bg-blue-600 {
  background-color: var(--blue-600) !important;
}

.bg-blue-650 {
  background-color: var(--blue-650) !important;
}

.bg-blue-700 {
  background-color: var(--blue-700) !important;
}

.bg-blue-750 {
  background-color: var(--blue-750) !important;
}

.bg-blue-800 {
  background-color: var(--blue-800) !important;
}

.bg-blue-850 {
  background-color: var(--blue-850) !important;
}

.bg-blue-900 {
  background-color: var(--blue-900) !important;
}

.bg-blue-950 {
  background-color: var(--blue-950) !important;
}

.border-blue-50 {
  border-color: var(--blue-50) !important;
}

.border-blue-75 {
  border-color: var(--blue-75) !important;
}

.border-blue-100 {
  border-color: var(--blue-100) !important;
}

.border-blue-150 {
  border-color: var(--blue-150) !important;
}

.border-blue-200 {
  border-color: var(--blue-200) !important;
}

.border-blue-250 {
  border-color: var(--blue-250) !important;
}

.border-blue-300 {
  border-color: var(--blue-300) !important;
}

.border-blue-350 {
  border-color: var(--blue-350) !important;
}

.border-blue-400 {
  border-color: var(--blue-400) !important;
}

.border-blue-450 {
  border-color: var(--blue-450) !important;
}

.border-blue-500 {
  border-color: var(--blue-500) !important;
}

.border-blue-550 {
  border-color: var(--blue-550) !important;
}

.border-blue-600 {
  border-color: var(--blue-600) !important;
}

.border-blue-650 {
  border-color: var(--blue-650) !important;
}

.border-blue-700 {
  border-color: var(--blue-700) !important;
}

.border-blue-750 {
  border-color: var(--blue-750) !important;
}

.border-blue-800 {
  border-color: var(--blue-800) !important;
}

.border-blue-850 {
  border-color: var(--blue-850) !important;
}

.border-blue-900 {
  border-color: var(--blue-900) !important;
}

.border-blue-950 {
  border-color: var(--blue-950) !important;
}

.text-blue-50 {
  color: var(--blue-50) !important;
}

.text-blue-75 {
  color: var(--blue-75) !important;
}

.text-blue-100 {
  color: var(--blue-100) !important;
}

.text-blue-150 {
  color: var(--blue-150) !important;
}

.text-blue-200 {
  color: var(--blue-200) !important;
}

.text-blue-250 {
  color: var(--blue-250) !important;
}

.text-blue-300 {
  color: var(--blue-300) !important;
}

.text-blue-350 {
  color: var(--blue-350) !important;
}

.text-blue-400 {
  color: var(--blue-400) !important;
}

.text-blue-450 {
  color: var(--blue-450) !important;
}

.text-blue-500 {
  color: var(--blue-500) !important;
}

.text-blue-550 {
  color: var(--blue-550) !important;
}

.text-blue-600 {
  color: var(--blue-600) !important;
}

.text-blue-650 {
  color: var(--blue-650) !important;
}

.text-blue-700 {
  color: var(--blue-700) !important;
}

.text-blue-750 {
  color: var(--blue-750) !important;
}

.text-blue-800 {
  color: var(--blue-800) !important;
}

.text-blue-850 {
  color: var(--blue-850) !important;
}

.text-blue-900 {
  color: var(--blue-900) !important;
}

.text-blue-950 {
  color: var(--blue-950) !important;
}

.bg-primary-50 {
  background-color: var(--blue-50) !important;
}

.bg-primary-75 {
  background-color: var(--blue-75) !important;
}

.bg-primary-100 {
  background-color: var(--blue-100) !important;
}

.bg-primary-150 {
  background-color: var(--blue-150) !important;
}

.bg-primary-200 {
  background-color: var(--blue-200) !important;
}

.bg-primary-250 {
  background-color: var(--blue-250) !important;
}

.bg-primary-300 {
  background-color: var(--blue-300) !important;
}

.bg-primary-350 {
  background-color: var(--blue-350) !important;
}

.bg-primary-400 {
  background-color: var(--blue-400) !important;
}

.bg-primary-450 {
  background-color: var(--blue-450) !important;
}

.bg-primary-500 {
  background-color: var(--blue-500) !important;
}

.bg-primary-550 {
  background-color: var(--blue-550) !important;
}

.bg-primary-600 {
  background-color: var(--blue-600) !important;
}

.bg-primary-650 {
  background-color: var(--blue-650) !important;
}

.bg-primary-700 {
  background-color: var(--blue-700) !important;
}

.bg-primary-750 {
  background-color: var(--blue-750) !important;
}

.bg-primary-800 {
  background-color: var(--blue-800) !important;
}

.bg-primary-850 {
  background-color: var(--blue-850) !important;
}

.bg-primary-900 {
  background-color: var(--blue-900) !important;
}

.bg-primary-950 {
  background-color: var(--blue-950) !important;
}

.border-primary-50 {
  border-color: var(--blue-50) !important;
}

.border-primary-75 {
  border-color: var(--blue-75) !important;
}

.border-primary-100 {
  border-color: var(--blue-100) !important;
}

.border-primary-150 {
  border-color: var(--blue-150) !important;
}

.border-primary-200 {
  border-color: var(--blue-200) !important;
}

.border-primary-250 {
  border-color: var(--blue-250) !important;
}

.border-primary-300 {
  border-color: var(--blue-300) !important;
}

.border-primary-350 {
  border-color: var(--blue-350) !important;
}

.border-primary-400 {
  border-color: var(--blue-400) !important;
}

.border-primary-450 {
  border-color: var(--blue-450) !important;
}

.border-primary-500 {
  border-color: var(--blue-500) !important;
}

.border-primary-550 {
  border-color: var(--blue-550) !important;
}

.border-primary-600 {
  border-color: var(--blue-600) !important;
}

.border-primary-650 {
  border-color: var(--blue-650) !important;
}

.border-primary-700 {
  border-color: var(--blue-700) !important;
}

.border-primary-750 {
  border-color: var(--blue-750) !important;
}

.border-primary-800 {
  border-color: var(--blue-800) !important;
}

.border-primary-850 {
  border-color: var(--blue-850) !important;
}

.border-primary-900 {
  border-color: var(--blue-900) !important;
}

.border-primary-950 {
  border-color: var(--blue-950) !important;
}

.text-primary-50 {
  color: var(--blue-50) !important;
}

.text-primary-75 {
  color: var(--blue-75) !important;
}

.text-primary-100 {
  color: var(--blue-100) !important;
}

.text-primary-150 {
  color: var(--blue-150) !important;
}

.text-primary-200 {
  color: var(--blue-200) !important;
}

.text-primary-250 {
  color: var(--blue-250) !important;
}

.text-primary-300 {
  color: var(--blue-300) !important;
}

.text-primary-350 {
  color: var(--blue-350) !important;
}

.text-primary-400 {
  color: var(--blue-400) !important;
}

.text-primary-450 {
  color: var(--blue-450) !important;
}

.text-primary-500 {
  color: var(--blue-500) !important;
}

.text-primary-550 {
  color: var(--blue-550) !important;
}

.text-primary-600 {
  color: var(--blue-600) !important;
}

.text-primary-650 {
  color: var(--blue-650) !important;
}

.text-primary-700 {
  color: var(--blue-700) !important;
}

.text-primary-750 {
  color: var(--blue-750) !important;
}

.text-primary-800 {
  color: var(--blue-800) !important;
}

.text-primary-850 {
  color: var(--blue-850) !important;
}

.text-primary-900 {
  color: var(--blue-900) !important;
}

.text-primary-950 {
  color: var(--blue-950) !important;
}
