.bg-surface-50 {
  background-color: var(--surface-50) !important;
}

.bg-surface-75 {
  background-color: var(--surface-75) !important;
}

.bg-surface-100 {
  background-color: var(--surface-100) !important;
}

.bg-surface-150 {
  background-color: var(--surface-150) !important;
}

.bg-surface-200 {
  background-color: var(--surface-200) !important;
}

.bg-surface-250 {
  background-color: var(--surface-250) !important;
}

.bg-surface-300 {
  background-color: var(--surface-300) !important;
}

.bg-surface-350 {
  background-color: var(--surface-350) !important;
}

.bg-surface-400 {
  background-color: var(--surface-400) !important;
}

.bg-surface-450 {
  background-color: var(--surface-450) !important;
}

.bg-surface-500 {
  background-color: var(--surface-500) !important;
}

.bg-surface-550 {
  background-color: var(--surface-550) !important;
}

.bg-surface-600 {
  background-color: var(--surface-600) !important;
}

.bg-surface-650 {
  background-color: var(--surface-650) !important;
}

.bg-surface-700 {
  background-color: var(--surface-700) !important;
}

.bg-surface-750 {
  background-color: var(--surface-750) !important;
}

.bg-surface-800 {
  background-color: var(--surface-800) !important;
}

.bg-surface-850 {
  background-color: var(--surface-850) !important;
}

.bg-surface-900 {
  background-color: var(--surface-900) !important;
}

.bg-surface-950 {
  background-color: var(--surface-950) !important;
}

.border-surface-50 {
  border-color: var(--surface-50) !important;
}

.border-surface-75 {
  border-color: var(--surface-75) !important;
}

.border-surface-100 {
  border-color: var(--surface-100) !important;
}

.border-surface-150 {
  border-color: var(--surface-150) !important;
}

.border-surface-200 {
  border-color: var(--surface-200) !important;
}

.border-surface-250 {
  border-color: var(--surface-250) !important;
}

.border-surface-300 {
  border-color: var(--surface-300) !important;
}

.border-surface-350 {
  border-color: var(--surface-350) !important;
}

.border-surface-400 {
  border-color: var(--surface-400) !important;
}

.border-surface-450 {
  border-color: var(--surface-450) !important;
}

.border-surface-500 {
  border-color: var(--surface-500) !important;
}

.border-surface-550 {
  border-color: var(--surface-550) !important;
}

.border-surface-600 {
  border-color: var(--surface-600) !important;
}

.border-surface-650 {
  border-color: var(--surface-650) !important;
}

.border-surface-700 {
  border-color: var(--surface-700) !important;
}

.border-surface-750 {
  border-color: var(--surface-750) !important;
}

.border-surface-800 {
  border-color: var(--surface-800) !important;
}

.border-surface-850 {
  border-color: var(--surface-850) !important;
}

.border-surface-900 {
  border-color: var(--surface-900) !important;
}

.border-surface-950 {
  border-color: var(--surface-950) !important;
}

.text-surface-50 {
  color: var(--surface-50) !important;
}

.text-surface-75 {
  color: var(--surface-75) !important;
}

.text-surface-100 {
  color: var(--surface-100) !important;
}

.text-surface-150 {
  color: var(--surface-150) !important;
}

.text-surface-200 {
  color: var(--surface-200) !important;
}

.text-surface-250 {
  color: var(--surface-250) !important;
}

.text-surface-300 {
  color: var(--surface-300) !important;
}

.text-surface-350 {
  color: var(--surface-350) !important;
}

.text-surface-400 {
  color: var(--surface-400) !important;
}

.text-surface-450 {
  color: var(--surface-450) !important;
}

.text-surface-500 {
  color: var(--surface-500) !important;
}

.text-surface-550 {
  color: var(--surface-550) !important;
}

.text-surface-600 {
  color: var(--surface-600) !important;
}

.text-surface-650 {
  color: var(--surface-650) !important;
}

.text-surface-700 {
  color: var(--surface-700) !important;
}

.text-surface-750 {
  color: var(--surface-750) !important;
}

.text-surface-800 {
  color: var(--surface-800) !important;
}

.text-surface-850 {
  color: var(--surface-850) !important;
}

.text-surface-900 {
  color: var(--surface-900) !important;
}

.text-surface-950 {
  color: var(--surface-950) !important;
}
